[submodule "Attachment"]
	path = Attachment
	url = https://github.com/KirillShakhov/HPS.Lab1.git
[submodule "Chat"]
	path = Chat
	url = https://github.com/KirillShakhov/HPS.Lab1.git
[submodule "Core"]
	path = Core
	url = https://github.com/KirillShakhov/HPS.Lab1.git
[submodule "Payment"]
	path = Payment
	url = https://github.com/KirillShakhov/HPS.Lab1.git
[submodule "Authorization"]
	path = Authorization
	url = https://github.com/KirillShakhov/HPS.Lab1.git
